@charset "utf-8";
/* CSS Document */

body {
	background:url(../images/bg.png);
	background-position: center -200px;
	font-family: microsoft yahei;
	color: #555;
}
body,html,table,tr,th,td 
{
	font-size: 14px;
}
body,html,table,tr,th,td,div,form,img,ul,ol,li,dl,dt,dd,p,fieldset,h1,h2,h3,h4,h5,h6 
{
	margin: 0;
	padding: 0;
	border: 0;
}
input,select
{
	margin: 0;
	padding: 0;
	font-family: microsoft yahei;
	font-size: 14px;
	outline: none;
}
ul,ol,li,dl,dt,dd 
{
	list-style: none;
}
h1,h2,h3,h4,h5,h6 
{
	font-size: 1em;
	font-weight: 500;
}
li 
{
	list-style-type: none;
}
img {
	border: 0 none;
}
a 
{
	color: #333;
	text-decoration: none;
}
a:hover 
{
	color: #EE5C58;
}
a 
{
	outline: none;
	star: expression_r(this.onFocus=this.blur());
}
h1 
{
	font-size: 24px;
}
h2 
{
	font-size: 20px;
}
h3 
{
	font-size: 18px;
}
h4 
{
	font-size: 16px;
}
h5 
{
	font-size: 14px;
}
h6 
{
	font-size: 12px;
}

.top_bg
{
	width:100%;
	height:60px;
	background:#fff;
	float:left;
}
.top
{
	width:1200px;
	height:60px;
	margin:auto;
}
.top_left
{
	width:209px;
	height:60px;
	float:left;	
}
.top_right
{
	width:560px;
	height:30px;
	float:right;
}

.top_right_list li
{
	float:left;
	width:70px;
	text-align:center;
	line-height:30px;
	color:#fff;
	margin-left:40px;
	margin-top:10px;
}
.top_right_list a
{
	display:block;
	font-size:15px;
}
.top_right_list a:link,.top_right_list a:visited
{
	text-decoration:none;
	color:#FFFFFF;
}
.top_right_list a:hover,.top_right_list a:active
{
	background-color:#ee5c58;
	color:#fff;
	border-radius:3px;
}
.land
{
	width:387px;
	height:361px;
	background:#fff;
	border-radius:2.5px;
	position:absolute;
	right:138px;
	top:115px; 
	overflow:hidden
}
.title
{
	background:#fafafb;
	height:70px;
	border-bottom:1px solid #d4d9dd;
}
.title h2
{
	line-height:70px;
	color:#000;
	margin-left:20px;
}
.account
{
	width:347px;
	height:100px;
	background:#fff;
	border-radius:4px;
	border:1px solid #d4d9dd;
	margin:0 auto;
	margin-top:30px;
}
.account_text,.password
{
	margin:0 15px;
	font-size:16px;
	color:#000;
	line-height: 50px;
}
.account_line
{
	width:400px;
	height:3px;
	position: absolute;
	top:140px;
}
input
{
	border:0 none;
	height:30px;
	width:260px;
}
input:active
{
	outline:none;
}
.land p
{
	margin-top:30px;
	font-size:24px;
	text-align:center;
	color:#fff;
	background-color:#EE5C58;
	width:347px;
	height:50px;
	line-height:50px;
	border-radius:4px;
	margin-left:20px;
}
.land ul
{
	position:relative;
	left:25%
}
.land li
{
	float:left;
	margin-top:30px;
	margin-left:20px;
}
.land a
{
	width:50px;
}
