@charset "utf-8";
/* CSS Document */

body {
	background:#f2f3f4;
	color: #555;
}
body,html,table,tr,th,td 
{
	font-size: 14px;
}
body,html,table,tr,th,td,div,form,img,ul,ol,li,dl,dt,dd,p,fieldset,h1,h2,h3,h4,h5,h6
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: microsoft yahei;
}
input,select
{
	margin: 0;
	padding: 0;
	font-family: microsoft yahei;
	font-size: 14px;
	outline: none;
}
ul,ol,li,dl,dt,dd 
{
	list-style: none;
}
h1,h2,h3,h4,h5,h6 
{
	font-size: 1em;
	font-weight: 500;
}
li 
{
	list-style-type: none;
}
img {
	border: 0 none;
}
a 
{
	color: #333;
	text-decoration: none;
}
a:hover 
{
	color: #EE5C58;
}
a 
{
	outline: none;
	star: expression_r(this.onFocus=this.blur());
}
h1 
{
	font-size: 24px;
}
h2 
{
	font-size: 20px;
}
h3 
{
	font-size: 18px;
}
h4 
{
	font-size: 16px;
}
h5 
{
	font-size: 14px;
}
h6 
{
	font-size: 12px;
}

.top
{
	width:100%;
	height:78px;
	background:#fff;
	border-bottom: 1px solid #d9dde1;
}
.top_left
{
	width:209px;
	float:left;	
	margin-top:10px;
	margin-left:50px;
}
.top_right
{
	width:600px;
	height:30px;
	float:right;
}

.top_right_list li
{
	float:left;
	width:70px;
	text-align:center;
	line-height:30px;
	color:#1a1f23;
	margin-right:50px;
	margin-top:22px;
}
.top_right_list a
{
	display:block;
	font-size:15px;
}
.top_right_list a:link,.top_right_list a:visited
{
	text-decoration:none;
	color:#000;
}
.top_right_list a:hover,.top_right_list a:active
{
	background-color:#ee5c58;
	color:#fff;
	border-radius:3px;
}
.registered
{
	width:1250px;
	height:1350px;
	background:#fff;
	margin:20px auto;
	margin-bottom: 80px;
	border: 1px solid #d9dde1;
}
.registered_top
{
	height:122px;
	background:#fafafb;
	border-bottom: 1px solid #d9dde1;
}
.registered_top_left h1
{
	float:left;
	line-height:122px;
	margin-left:80px;
	color:#000;
}
.registered_top_right
{
	float:right;
	margin-right:70px;
}
.registered_top_right li
{
	float:right;
	line-height:122px;
	font-size:18px;
	color:#000;
	margin-left:5px;
}
.registered_fill
{
	width:1090px;
	height:256px;
	margin:0 auto;
}
.registered_fill_top li
{
	padding-top:53px;
	padding-left:220px;
}

.registered_fill_top a
{
	width:0px;
	float:left;
}
.registered_fill_top p
{
	margin-left:100px;
	line-height: 46px;
	font-size:22px;
	color:#000;
}
.registered_fill_line
{
	width:1090px;
	height:1px;
	background:#e0e7eb;
	margin-top:60px;
}
.registered_fill_in
{
	width:770px;
	height:780px;
	margin:0 auto;
	position: relative;
}
.in_from
{
	width:770px;
	margin:0 auto;
	margin-top:48px;
	position: relative;
}
.in_from_text
{
	float:left;
}

.in_from_text p
{
	float:right;
	font-size:22px;
	height:61px;
	line-height:60px;
	margin-bottom: 47px;
}
.in_from_inptu
{
	float:left;
	margin-left:80px;
}
.in_from_inptu input
{
	width:600px;
	height:58px;
	margin-bottom: 47px;
	border-radius:4px;
	background:#f1f1f1;
	border:0 none;
	font-size:26px;
}
#obtain input
{
	width:392px;
	height:58px;
}
.in_from a
{
	width:160px;
	height:57px;
	position:absolute;
	right:0px;
	top:105px;
	font-size:22px;
	display: block;
	background:#61666c;
	text-align: center;
	line-height: 60px;
	border-radius:4px;
}
.in_from a:link,.in_from a:visited
{
	text-decoration:none;
	color:#fff;
}
.in_from a:hover,.in_from a:active
{
	background:#949aa1;
}
.registered_fill_line_two
{
	width:1090px;
	height:1px;
	background:#e0e7eb;
	position:relative;
	top:433px;
	right:165px;
}
.from_bottom_text
{
	float:left;
}
.from_bottom_text p
{
	float:right;
	font-size:22px;
	height:61px;
	line-height:60px;
	margin-bottom: 47px;
	position:relative;
	width:95px;
	top:70px;
	left:-88px;
}
.from_bottom_input
{
	float:left;
	margin-left:100px;
}
.from_bottom_input input
{
	width:600px;
	height:58px;
	margin-bottom: 47px;
	border-radius:4px;
	background:#f1f1f1;
	border:0 none;
	position:relative;
	bottom: 142px;
	left:70px;
	font-size:26px;
}
.registered_fill_bottom
{
	width:420px;
	height:35px;
	position: relative;
	bottom: 140px;
	left:330px;
}
.registered_fill_bottom input
{
	float:left;
	margin-right:5px;
}
.registered_fill_bottom p
{
	font-size: 20px;
	line-height:10px;
}
.registered_fill_bottom a:link,.registered_fill_bottom a:visited
{
	color:#007fe2;
}
.registered_fill_bottom a:hover,.registered_fill_bottom a:active
{
	color:#E54B3B;
}
.registered_bottom
{
	width:280px;
	height:60px;
	margin: 0 auto;
	position: relative;
	top:850px;
}
.registered_bottom a
{
	height:60px;
	display: block;
	background-color: #EE5C58;
	text-align: center;
	font-size:30px;
	line-height:50px;
}
.registered_bottom a:link,.registered_bottom a:visited
{
	text-decoration:none;
	color:#fff;
}
.registered_bottom a:hover,.registered_bottom a:active
{
	background:#AC2925;
	border-radius: 4px;
}
.bottom
{
	font-size:18px;
	width:586px;
	margin:0 auto;
	position: relative;
	bottom:40px;
	
}
